@font-face {
  font-family:'PFBeauSansPro-Regular';
  src: url('fonts/PFBeauSansPro-Regular.eot');
  src: url('fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype');
  src: local('☺'),
    url('fonts/PFBeauSansPro-Regular.woff') format('woff'),
    url('fonts/PFBeauSansPro-Regular.ttf') format('truetype'),
    url('fonts/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+006F-2116;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

#portfolio {
   min-width: 1000px;
}

body {
   color: #676666;
   font: 14px Arial,Helvetica,sans-serif;
   overflow: hidden;
}

.hold1 {
   max-width: 1600px;
   min-width: 1000px;
   position: relative;
}

#portfolio #hdr {
   height: 122px;
}
#hdr {
   font-size: 12px;
   height: 142px;
   padding: 0 20px;
   position: relative;
}


.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}

#logo {
   display: block;
   left: 40px;
   position: absolute;
   top: 30px;
}

a {
   color: #454545;
}

a img {
   border: 0 none;
}

.contentContainer {
  position: relative;
  height: 100%;
  min-height: 800px;
  min-width: 1000px;
}
.no-js .slide-nav,
.no-js .slides-container {
  display: none;
}
.no-js h1 {
  text-align: center;
  margin: 2em;
}
.slide-nav.active {
  width: 120px;
  padding-top: 60px;
  padding-right: 50px;
}
.slide-nav {
  border-radius: 5px 0 0 5px;
  background: linear-gradient(to right, rgba(217,217,217,1) 0%,rgba(255,255,255,1) 40%);
  position: absolute;
  margin-top: 11%;
  z-index: 100;
  list-style: none;
  display: none;
  height: 364px;
  right: 20px;
  padding-top: 60px;
  width: 50px;
}
.slide-nav.active span {
  display: block;
}
.slide-nav.active .nav_circle {
  display: none;
}
.slide-nav .nav_circle {
  display: block;
  width: 20px;
  height: 20px;
  background: url(nav_circle.png) no-repeat 0px 0px;
}
.slide-nav span{
  display: none;
}
.slide-nav .nav_small_logo {
  position: absolute;
  right: 12px;
  top: 18px;
}
.slide-nav.active li {
  margin-bottom: 24px;
}
.slide-nav li {
  display: block;
  margin-bottom: 22px;
}
.slide-nav li div {
  margin: 0 auto;
}
.slide-nav li a div:hover {
  background-position: 0px -21px;
}
.slide-nav.active li a {
  color: #ef3301;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: right;
}
.slide-nav li a:hover {
  color: #9a2000 !important;
}
.slide-nav a.active {
  color: #9a2000;
}
.slides-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide {
  position: relative;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
}
.slide img.img_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.backbg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0 auto;
  position: absolute;
  background-color: #ffffff;
}
.go-prev,
.go-next {
  cursor: pointer;
  font-weight: bold;
}
.slide em {
  font-style: italic;
}
.slide {
  background-color: #ffffff;
  min-width: 1000px;

}
.slide .headline {
  width: 46em;
  margin: 0 auto;
}
@media screen and (max-width: 635px) {
  .slide .headline {
    font-size: 60%;
    width: 34em;
  }
}
.slide .tip {
  position: absolute;
  width: 100%;
  bottom: 29%;
}
.tip span {
  color: #ACA89D;
  text-align: center;
  font-size: 1.7em;
}
.tip .icon-down {
  font-size: 2em;
}
.basics-content {
  font-size: 1.5em;
  color: #242424;
  line-height: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  overflow: hidden;
  right: 0px;
  bottom: 0px;
}
.marker.active .line,
.marker.active .circle {
  animation-name: animStroke;
}
.marker {
  position: relative;
  height: 400px;
  width: 600px;
}
.trigger {
  position: absolute;
  top: 37px;
  left: 22px;
  cursor: pointer;
  pointer-events: none;
  text-transform: uppercase;
  font-family: Oswald;
  color: #333;
  transition: color .2s linear;
  font-size: 22px;
}
.hovered {
  color: #fff;
}
.line {
  stroke: #DDDFD7;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-duration: 6s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}
.circle {
  fill: #fff;
  stroke-width: 2;
  stroke: #DDDFD7;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-duration: 3s, .3s;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.circle1 {
  fill: #fff;
  transition: fill .18s linear;
  animation-duration: 3s;
}
.circle1:hover {
  fill: #303D62;
}
.s-circle {
  opacity: 0;
}
.text {
  fill: transparent;
  font-family: Oswald;
  font-size: 20px;
  text-transform: uppercase;
}
.marker.active .text {
  animation-name: animFill;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.marker.active .s-circle {
  animation-name: animStroke, animOpac;
  transition: fill .18s linear;
}
.active a:hover .text {
  text-decoration: underline;
}

#portfolio .team {
   border-top: 1px solid #E2E2E2;
   font-size: 12px;
   padding: 39px 0;
   position: fixed;
   bottom: 0px;
   width: 100%;
   display: none;
}
#project {
  padding-top: 0px;
  margin-top: -122px;
  min-width: 1000px;
}
#slide-1, #slide-2, #slide-3, #slide-4, #slide-5, #slide-6, #slide-17, #slide-18 {
  z-index: 99;
  background-color: #EF3301;
}



.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  {background: url(carousel_nav.png) 0px 0px no-repeat; text-indent: 500000px; text-decoration:none; display: block; width: 24px; height: 38px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); }
.flex-direction-nav .flex-prev { background-position: 0px 0px; left: 0px; }
.flex-direction-nav .flex-next { background-position: -25px 0px; right: 0px; text-align: right; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height:1; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }
.flex-direction-nav .flex-prev:hover {
  background-position: 0px -39px;
}
.flex-direction-nav .flex-next:hover {
  background-position: -25px -39px;
}
/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

#slider {
  width: 770px;
}
#slider li img {
  margin: 0 auto;
}

.slides-container {
  /*min-height: 800px !important;*/
}
#slide-1 {

  background: url(slide1.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-2 {
  background: url(2.png) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center 0; 
}
#slide-3 {
  background: url(slide3.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-4 {
  background: url(slide4.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-5 {
  background: url(slide5.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-6 {
  /*margin-top: -5px;*/
  background: url(slide6.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-7 {
  margin-top: -5px;
}
#slide-8 {
  background: url(slide8.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
  margin-top: 5px;
}
#slide-9 {
  background: url(child_tantamareska.png) no-repeat;
  /*background-size: 100% 100%;*/
  background-position: center left; 
}
#slide-10 {
  background: url(slide10.jpg) no-repeat;
  /*background-size: 100% 100%;*/
  background-size: cover;
  background-position: center center; 
}
#slide-12 {
  background:#e8e8e8; 
}

.opacitySmall:hover {
  opacity: 1 !important;
}
.basics-content p {
  font: 13px/18.5px 'Acrom_Regular';
}
.basics-content .block_left {
  position: absolute;
}
.title {
  padding-top: 150px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  font: 36px 'Acrom_ExtraBold';
  margin: 25px 0 40px;
}
.basics-content .wrap_border {
  /*width: 800px;*/
margin: 0 auto;
}
.basics-content .wrap_border p {
  font: 14px/20px 'Acrom_Regular';
  margin-bottom: 20px;
  width: 100%;
}

#slide-1 .basics-content {
  /*top: 500px;*/
  top: 40%;
}
#slide-1 .basics-content .block_left {
  left:18.5%;
}
#slide-1 .basics-content .wrap_border {
  right: 15.8%;
  position: absolute;
}
#slide-2 .wrap_border{ 
  width: 875px;
  color: #ffffff;
}
#slide-2 .wrap_border p {
  font: 24px/36px 'PFBeauSansPro-Regular';
}
#slide-3 .wrap_border{ 
  width: 950px;
  color: #060606;
}
#slide-3 .wrap_border p {
  font: 24px/36px 'PFBeauSansPro-Regular';
  word-spacing: 7px;
  margin-bottom: 20px;
}
#slide-4 .rslides li.li1{
  background: url(slide1.jpg);
  background-size: cover;
  background-position: center;
}
#slide-4 .rslides li.li2{
  background: url(slider3_img1.jpg);
  background-size: cover;
  background-position: center;
}
#slide-4 .rslides li.li3{
  background: url(slide2.jpg);
  background-size: cover;
  background-position: center;
}
#slide-4 .rslides li.li4{
  background: url(slide5.jpg);
  background-size: cover;
  background-position: center;
}
#slide-4 .rslides li.li5{
  background: url(slide1.jpg);
  background-size: cover;
  background-position: center;
}
#slide-4 .rslides li.li6{
  background: url(slider3_img1.jpg);
  background-size: cover;
  background-position: center;
}
#slide4 .callbacks_tabs li {
  width: 80px;
  height: 50px;
}
#slide4 .callbacks_tabs li a {
  width: 80px;
  height: 50px;
}
#slide4 .callbacks_tabs li img {
  width: 100%;
  height: 100%;
}

#slide-5 .basics-content {
  margin-top: 320px;
}
#slide-5 .basics-content .block_left {
  /*width: 500px;*/
  /*background: red;*/
  left:14.5%;
  margin-top: 65px;
}
#slide-5 .basics-content .wrap_border {
  width: 620px;
  /*background: green;*/
  right: 9.5%;
  position: absolute;
}
#slide-5 .basics-content .wrap_border p {
  color: #ffffff;
  font: 24px/30px 'PFBeauSansPro-Regular';
  word-spacing: -2px;
  margin-bottom: 37px;
}
#slide-6 .basics-content .wrap_border {
  width: 945px;
}
#slide-6 .basics-content .wrap_border p {
  font: 24px/30px 'PFBeauSansPro-Regular';
  color: #000000;
  margin-bottom: 40px;
}
#slide-6 .basics-content .wrap_border p.list{
  margin-bottom: 20px;
}
#slide-7 .rslides li.li1{
  background: url(slide11.jpg);
  background-size: cover;
  background-position: center;
}
#slide-7 .rslides li.li2{
  background: url(slide2.jpg);
  background-size: cover;
  background-position: center;
}
#slide-7 .rslides li.li3{
  background: url(slide3.jpg);
  background-size: cover;
  background-position: center;
}
#slide-8 .basics-content {}
#slide-8 .basics-content .block_left {
  left:20%;
  background: red;
  width: 500px;
}
#slide-8 .basics-content .wrap_border {
  right: 22.5%;
  width: 540px;
  position: absolute;
  margin-top: 15px;
}
#slide-8 .basics-content .wrap_border p {
  color: #060606;
  font: 24px/36px 'PFBeauSansPro-Regular';
}
#slide-9 .basics-content  {
  /*top: 252px;*/
  top: 25%;
}
#slide-9 .basics-content .wrap_border {
  right: 20%;
  position: absolute;
  width: 520px;
}
#slide-9 .basics-content .wrap_border p {
  font: 24px/36px 'PFBeauSansPro-Regular'; 
  color: #060606;
}
#slide-10 .rslides li.li1{
  background: url(slide1.jpg);
  background-size: cover;
  background-position: center -130px;
}
#slide-10 .rslides li.li2{
  background: url(slide2.jpg);
  background-size: cover;
  background-position: center -130px;
}
#slide-10 .rslides li.li3{
  background: url(slide3.jpg);
  background-size: cover;
  background-position: center -130px;
}
#slide-10 .rslides li.li4{
  background: url(slide4.jpg);
  background-size: cover;
  background-position: center -130px;
}
#slide-10 .rslides li.li5{
  background: url(slide5.jpg);
  background-size: cover;
  background-position: center -130px;
}
#slide-10 .rslides li.li6{
  background: url(slide5.jpg);
  background-size: cover;
  background-position: center -130px;
}
#slide-10 .callbacks_tabs {
  bottom: 202px;
}

/*ТАБЫ*/
.rslides {
  position: absolute;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides  .li_slide {
  display: block;
  height: auto;
  margin: 0 auto;
  border: 0;
}
.callbacks_nav {
  background: green;
  width: 53px;
  height: 86px;
  position: absolute;
  top: 540px;
  z-index: 2;
  text-indent: 50000px;
  margin-top: -81px;
}
.next {
  left: 433px;
  background-position: 0px -87px;
}
.prev {
  left: 196px;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
  }
.callbacks_tabs {
position: absolute;
bottom: 100px;
right: left;
z-index: 99;
width: 100%;
left: 35%;
} 
.callbacks_tabs li {
  width: 80px;
  float: left;
  overflow: hidden;
  height: 50px;
  margin-bottom: 18px;
  margin-right: 10px;
}
.callbacks_tabs li img {
height: 100%;
width: 100%;
  position: relative;
z-index: 10;

}
.callbacks_tabs li a{
/*margin: 0px 0 0 25px;*/
width: 80px;
height: 50px;
display: block;

}
.callbacks_tabs li.callbacks_here {
  /*background: url(shtrih_slider2.png) no-repeat;*/
  width: 92px;
height: 62px;
margin-top: -6px;
}
.callbacks_tabs li.callbacks_here a {
  width: 92px;
height: 62px;
  /*background:rgba(255,1,1,0.70); */
display: block;
z-index: 11;

}
.callbacks_tabs li.callbacks_here a img {
  opacity: 0.5;
}
.slide .basics-content .content_left {
  float: left;
  width: 850px;
}
.slide .basics-content .content_left h2,
.slide .basics-content .content_left p {
  width: inherit;
}
.tabs {
  top: 20px;
  height: 100%;
  left: 20%;
}
.tabs .tabs_link {
  overflow: hidden;
}
.tabs .tabs_link {
  margin-top: 32px;
  margin-bottom: 40px;
}

.tabs .tabs_link li {
  float: left;
}
.tabs .tabs_link li a {
  color: #ef3301;
  font: 20px/40px PFBeauSansProRegular;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dotted #ef3301;
  height: 40px;
  text-align: center;
  margin: 0px 33px;
}
.tabs .tabs_link li a.active {
  color: #000000;
  border: 2px solid #000000;
  border-radius: 5px;
  height: 36px;
  line-height: 36px;
  padding: 0 18px;
  margin: 0 13px;
}
.tabs .tabs_content .tabs_cont {
  display: none;
}
.tabs .tabs_content .tabs_cont1 {
  display: block;
}
.tabs .tabs_content .tabs_cont img {
  position: absolute;
  bottom: 40px;
  left: 14%;
}
.tabs .tabs_content .tabs_cont p {
  width: 465px;
  font: 18px/25px pf_beausans_prolight;
  margin-bottom: 25px;
  margin-left: 35px;
}


/* slider specific CSS */
.sliderGallery {
    overflow: hidden;
    position: relative;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.sliderGallery UL {
    position: absolute;
    list-style: none;
    overflow: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.sliderGallery UL LI {
    display: inline;
}

.slider {
    position: relative;
    background: url(big_img.jpg);
    height: 50px;
    background-size: 100% 50px;
    width: 796px;
    border: 3px solid #1d8fcc;
    position: absolute;
    bottom: 25px;
    left:30%;
}

.handle {
    position: absolute;
    cursor: move;
    height: 17px;
    width: 181px;
    top: 0;
    z-index: 100;
}

.slider span {
    color: #bbb;
    font-size: 80%;
    cursor: pointer;
    position: absolute;
    z-index: 110;
    top: 3px;
}

.slider .slider-lbl1 {
    left: 50px;
}

.slider .slider-lbl2 {
    left: 107px;
}

.slider .slider-lbl3 {
    left: 156px;
}

.slider .slider-lbl4 {
    left: 280px;
}

.slider .slider-lbl5 {
    left: 455px;
}
.scrollup {
  position: fixed;
  opacity: 0.5; 
  padding: 15px 10px 10px; /* отступы */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: 10px; 
  bottom: 10px; 
  display: none;
  cursor: pointer;
  z-index: 999999999;
}

.scrollup:hover {
  opacity: 1;
}

.swiper-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
.swiper-slide {
  width: 4650px;
  background: #fff;
  margin-top: -57px;
}
.swiper-slide > div > p > img {
  height: 990px;
}

.swiper-scrollbar {
  position: absolute;
  left: 0;
  bottom: 5px;
  z-index: 1;
  width: 765px;
  height: 50px;
  background: url(big_img.jpg) !important;
  background-size: 100% 50px;
  top: 877px;
  left:30%;
  border: 3px solid #1d8fcc;
  opacity: 1 !important;
  background-size: 100% 50px !important;
  border-radius: 0 !important;
}
.swiper-scrollbar-drag {
  background: rgba(0,0,0,0.3) !important;
  height: 52px !important;
  margin-top: -4px !important;
  border-radius: 0 !important;
  border: 3px solid #1d8fcc !important;
}

img.stripe {
  position: absolute;
bottom: 0;
z-index: 99;
width: 100%;
}

/**************************************************
*
* CONTAINER STYLES
*
**************************************************/

#horiz_container_outer
{
  width:100%;
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
  height:100%;
}

#horiz_container
{
  width:7000px;
  margin:0px;
  padding:0px;
  height:300px;
}

#horiz_container ul
{
  margin:0px; padding:0px;
  float:left;
}

#horiz_container_inner
{
  padding:5px;
  padding-left:0px;
}

#horiz_container li
{
  list-style:none;
  display: inline-table;
  margin:0px;
}

#horiz_container li img
{
  padding:0px;
  margin:0px;
}




/**************************************************
*
* SCROLLING STYLES
*
**************************************************/

#scrollbar 
{ 
    position:relative; 
    height: 50px;
    display:block;
    bottom: 100px;
    margin:0px auto;

}

#track 
{ 
    position:absolute; left:25%; top:0;
    width: 765px; height: 50px;
  background: url(big_img.jpg);
  /*background-size: 100% 100%;*/
  background-size: cover;
  border: 3px solid #1d8fcc;

}

#dragBar 
{
    position:absolute; left:0px; top:0px;
    width:220px !important; height:56px; 
    margin-top: -7px;
margin-left: -4px;
background: rgba(0, 0, 0, 0.298039);
  border: 3px solid #1d8fcc;
  cursor: pointer;


}  
  
#left_scroll
{ 
  position:absolute; 
  border-color: transparent gray transparent transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0px;
  cursor:pointer;
  top:1px;
  left:-15px;
}  

#right_scroll 
{ 
  position:absolute; 
  right:-15px; 
  top:1px;
  border-color: transparent transparent transparent gray;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0px;
  cursor:pointer;
}

/* Prevent selection problem */
#scrollbar, #track, #dragBar, #left, #right {
    -moz-user-select: none;
    -khtml-user-select: none;
}





@media only screen and (max-width: 1800px) {

}
@media only screen and (max-width: 1700px) {
  #slide-1 .basics-content .block_left {
    left: 15.5%;
  }
  #slide-8 .basics-content .wrap_border {
    right: 17%;
  }
  #slide-9 .basics-content .wrap_border{
    right: 17%;
  }
}
@media only screen and (max-width: 1600px) {
  #slide-1 .basics-content .block_left {
    left: 14.5%;
  }
  #slide-8 .basics-content .wrap_border {
    right: 14%;
  }
  #slide-9 .basics-content .wrap_border{
    right: 14%;
  }
  .swiper-scrollbar {
    left: 28%;
  }
}
@media only screen and (max-width: 1500px) {
  #slide-1 .basics-content .block_left {
    left: 6%;
  }
  #slide-8 .basics-content .wrap_border {
    right: 10%;
  }
  #slide-9 .basics-content .wrap_border{
    right: 7%;
  }
  #track {
    left: 24%;
  }
}
@media only screen and (max-width: 1400px) {
  #slide-1 .basics-content .block_left {
    left:6%;
  }
  #slide-1 .basics-content .wrap_border {
    right: 11%;
  }
  #slide-5 .basics-content .block_left {
    left:10%;
  }
  #slide-5 .basics-content .wrap_border {
    right: 8%;
  }
  #slide-8 .basics-content .wrap_border {
    right: 10%;
  }
  #slide-9 .basics-content .wrap_border {
    right: 6%;
  }
  #track {
    left: 22%;
  }
}
@media only screen and (max-width: 1300px) {
  #slide-1 .basics-content .block_left {
    left: 2%;
  }
  #slide-1 .basics-content .wrap_border {
    right: 5%;
  }
  #slide-5 .basics-content .block_left {
    left:5%;
  }
  #slide-5 .basics-content .wrap_border {
    right: 5%;
  }
  #slide-9 {
    background-position: -135px center;
  }
  #slide-10 .callbacks_tabs {
    bottom: 258px;
    left:25%;
  }
  #track {
    left: 18%;
  }
}
@media only screen and (max-width: 1200px) {
  #slide4 .callbacks_tabs {
    left:30%;
  }
  #slide-5 .basics-content .block_left {
    left:2%;
  }
  #slide-5 .basics-content .wrap_border {
    right: 3%;
  }
  #slide-8 .basics-content .wrap_border {
    right: 5%;
  }
  #slide-9 {
    background-position: -195px center;
  }
}
@media only screen and (max-width: 1150px) {
  #slide-1 .basics-content .block_left img {
    width: 600px;
  }
  #slide-4 .callbacks_tabs {
    left: 28%;
  }
  #slide-9 {
    background-position: -230px center;
  }
  #track {
    left: 15%;
  }
}
@media only screen and (max-width: 1100px) {
  #slide-1 .basics-content .block_left {
    left: 3%;
  }
  #slide-1 .basics-content .block_left img {
    width: 580px;
  }
  #slide-1 .basics-content .wrap_border {
    right: 3%;
  }
  #slide-5 .basics-content .block_left img {
    width: 400px;
  }
  #slide-5 .basics-content .wrap_border {
    width: 555px;
  }
  #slide-9 {
    background-position: -280px center;
  }
  #track{
    left: 13%;
  }
}
@media only screen and (max-width: 1050px) {
  #slide-9 .basics-content .wrap_border {
    right: 0%;
  }
  #track {
    left: 12%;
  }
}
@media only screen and (max-width: 1000px) {
  #slide-1 .basics-content .block_left img{
    width: 540px;
  }
  #slide-4 .callbacks_tabs {
    left:26%;
  }
  #slide-5 .basics-content .wrap_border {
    width: 510px;
  }
  #slide-8 .basics-content .wrap_border {
    right: 2%;
  }
  #slide-8 {
    background-position: -770px center;
  }
}

@media only screen and (max-height: 700px) {
/*  #slide-1 .basics-content {
    top: 40%;
  }*/
#slide-1 .basics-content .block_left {
  left: 10%;
}
  #slide-1 .basics-content .block_left img {
    width: 85%;
  }
  #slide-1 .basics-content .wrap_border {
right: 5%;
}
  #slide-1 .basics-content .wrap_border img {
    width: 85%;
  }
  #slide-5 .basics-content {
    margin-top: 12%;
  }
#slide-8 .basics-content .title {
  margin-left: 18%;
  margin-bottom: 10px;
}
}


